.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  label, input {
    display: block;
    margin: 10px 0;
  }
  
  #bill {
    margin-top: 20px;
    padding: 20px;
    background-color: lightgray;
    display: none;
  }